<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>

<center>
  <h2>Material Download</h2>
  <form action="/user/download" method="post">
    Student Id: <input type="text" name="download_id" placeholder="학생 번호를 입력하세요">
    <br><br>
    Class: <input type="text" name="download_class" placeholder="다운 받을 강의 교안 과목명을 입력하세요">
    <br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form> 
</center>
</body>
</html>
