<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>

<center>
  <h2>Query and Answer</h2>
  <form action="/user/queryAnswer" method="post">
    Student Id: <input type="text" name="queryAnswer_id" placeholder="학생 번호를 입력하세요">
    <br><br>
    Class: <input type="text" name="query_class" placeholder="과목명">
    <br><br>
    Query: <input type="text" name="query" placeholder="질문">
    <br><br>
    Answer: <input type="text" name="answer" placeholder="질문에 대한 정답"">
    <br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form> 
</center>
</body>
</html>
